.box {
    width: 90vw;
    height: auto;
    border-radius: 15px;
    border: 0.1px solid white;
    padding: 10vw;
    padding-top: 2rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.header {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    text-align: center;
}



.skills h3{
    margin-bottom: 1.5rem;
}

.langs{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
}

.lang img{
    margin-bottom: 0.5rem;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.lang p{
    text-align: center;
}

@media screen and (min-width: 540px) {
    .langs{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1153px) {
    .langs{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}