.box {
    width: 90vw;
    height: auto;
    border-radius: 15px;
    border: 0.1px solid white;
    padding: 10vw;
    padding-top: 2rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.header {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
    text-align: center;
}

/* .nav-skills{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    padding: 0.4rem 0;
    background: var(--hover-1);
}

.link {
    font-size: 0.6rem;
} */

.link:hover{
    color: var(--primary-color);
}

.skills h3{
    margin-bottom: 1.5rem;
}

.langs{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
}

.lang img{
    margin-bottom: 0.5rem;
    width: 100%;
    height: 18vh;
    border-radius: 10px;
}

.lang p{
    text-align: center;
}

/* .la-0-height{
    overflow: hidden;
    height: 0;
}

.la-height{
    height: auto;
}

.we-0-height{
    overflow: hidden;
    height: 0;
}

.we-height{
    height: auto;
}

.to-0-height{
    overflow: hidden;
    height: 0;
}

.to-height{
    height: auto;
}

.da-0-height{
    overflow: hidden;
    height: 0;
}

.da-height{
    height: auto;
} */

@media screen and (min-width: 590px) {
    .langs{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .lang img {
        height: 22vh;
    }
}

@media screen and (min-width: 960px) {
    .langs{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .lang img {
        width: 12vw;
        height: 22vh;
    }
}