*{
    box-sizing: border-box;
}

.header {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
    text-align: center;
}

.saver{
    margin: 0 100px;
}

.tut-header{
    margin-top: 20px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.tut{
    color: var(--primary-color);
    margin-bottom: 5px;
}

.brief{
    margin-bottom: 10px;
    margin-left: 15px;
}

.btn-cont{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button{
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(to right, var(--primary-color), rgba(255, 255, 255, 0));
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.5);
}

button:hover {
    background: var(--hover-2);
}